:root {
    --color-primary: #EBD91F;
    --color-secondary: #F2B50C;
    --color-accent: #f24a0c;
}

body {
    background: rgba(226, 226, 226, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
}

#container {
    display: flex;
    width: fit-content;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding: 20px 10px;
    position: relative;
    background: var(--color-secondary);
    border-radius: 40px;
}

.container_body-info-user {
    position: absolute;
    top: -100px;
    background: var(--color-primary);
    padding: 20px;
    border-radius: 40px 40px 4px 4px;
    flex-direction: column;
}

.container_body-info-user-data {
    display: inline-block;
    border: 1px dotted var(--color-accent);
    margin: 0px 5px;
    padding: 5px 15px;
    border-radius: 4px;
    text-align: center;
}

.container_body-info-user-data span:nth-child(2) {
    font-size: 2rem;
    display: block;
}

.container_question,
.container_body-response {
    box-shadow: 0px 0px 10px var(--color-primary);
}

.container_body-response {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    width: 250px;
    max-width: 350px;
    text-align: center;
    font-size: 1.2rem;
    margin: 5px 15px;
    padding: 20px;
    background: white;
    position: relative;

    transition: all 0.2s ease-in-out;
}

.container_body-response::after {
    position: absolute;
    background: var(--color-primary);
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px var(--color-primary);
}

.container_body-response:hover {
    transform: scale(1.01);
    color: var(--color-accent);
    box-shadow: 0px 0px 20px rgb(216, 216, 216);
}

.container_body-response:nth-child(2) {
    border-radius: 40px 40px 4px 4px;
}

.container_body-response:nth-child(2)::after {
    content: "A";
    top: 25%;
    left: -5px;
}

.container_body-response:nth-child(4) {
    border-radius: 4px 4px 4px 4px;
}

.container_body-response:nth-child(4)::after {
    content: "C";
    bottom: 25%;
    left: -5px;
}

.container_body-response:nth-child(3) {
    border-radius: 4px 4px 4px 4px;
}

.container_body-response:nth-child(3)::after {
    content: "B";
    top: 25%;
    right: -5px;
}

.container_body-response:nth-child(5) {
    border-radius: 4px 4px 40px 40px;
}

.container_body-response:nth-child(5)::after {
    content: "D";
    bottom: 25%;
    right: -5px;
}

.container_question {
    z-index: 10;
    margin-top: -15px;
    width: 60%;
    text-align: center;
    user-select: none;
    letter-spacing: 2px;
    font-size: 1.6rem;
    background: var(--color-primary);
    padding: 10px 40px;
    border-radius: 40px;
}

.dialog {
    position: fixed;
    top: 0px;
    left: 0px;

    z-index: 100;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.158);
}

.dialog_body {
    max-width: 300px;
    background: white;
    padding: 30px;
    border-radius: 10px;

    animation: enterDialog 0.3s ease-in-out 1;
}

@keyframes enterDialog {
    0% {
        transform: translateY(100%);
    }
}

.dialog_body span,
input,
button {
    display: block;
}

.dialog_body img {
    width: 50%;
    display: block;
    margin: auto;
}

.dialog_body-title {
    padding: 5px;
    margin: 10px;
}

.dialog_body label,
.dialog_body-title {
    font-size: 1.5rem;
    color: var(--color-accent);
    margin-bottom: 30px;
    display: block;
}

.dialog_body input {
    margin: 0px auto 20px auto;
    font-size: 1.3rem;
    width: 80%;
}

.dialog_body button {
    font-size: 1rem;
    background: var(--color-accent);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    margin: 0px 0px 0px auto;
    box-shadow: 0px 0px 6px var(--color-accent);

    transition: all 0.2s ease-in-out;
}

.dialog_body button:hover {
    background: white;
    border-radius: 6px;
    color: var(--color-accent);
}

.toast {
    z-index: 110;
    position: fixed;
    bottom: 120px;
    left: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.toast_body {
    background: var(--color-accent);
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px var(--color-accent);
    color: white;
    font-weight: bold;

    animation: enterDialog 0.3s ease-in-out 1;
}

.name_user {
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--color-accent);
    font-weight: bold;
}

.img_trash {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;

    transition: all 0.2s ease-in-out;
}

.img_trash:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 810px) {
    .container_body-response:nth-child(2) {
        border-radius: 40px 4px 4px 4px;
    }

    .container_body-response:nth-child(4) {
        border-radius: 4px 4px 4px 40px;
    }

    .container_body-response:nth-child(3) {
        border-radius: 4px 40px 4px 4px;
    }

    .container_body-response:nth-child(5) {
        border-radius: 4px 4px 40px 4px;
    }

    .container_question {
        border-radius: 4px 4px 40px 40px;
    }
}

@media screen and (min-width: 980px) {

    .container_body-response {
        width: 350px;
    }
}